{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UK House Price Data</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- W3.CSS etc -->

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="https://www.w3schools.com/lib/w3.js"></script>

		<!-- Own CSS -->
		<link rel="stylesheet" href="{% static 'css/ui.css' %}">
    </head>
    
	<body>
		<!-- Sidebar -->
		<div class="w3-sidebar w3-dark-grey w3-bar-block">
		    <h3 class="w3-bar-item">Data Filters</h3>
			<label class="w3-bar-item"><i class="fa fa-caret-down"></i>Postcode: {{postcode}}</label>
			<input class="w3-bar-item w3-input" type="text" style="margin-left: 15px; width: calc(100% - 30px)">

		</div>
		<!--<div style="margin-left:25%">-->

		<!-- Main Body -->
		<div class="w3-container">
			<div class="w3-content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>

	<footer>
		<div class="w3-content">
			Contains HM Land Registry data © Crown copyright and database right 2021. This data is licensed under the Open Government Licence v3.0.
		</div>
	</footer>
</html>

