{% extends 'ui/base_sidebar.html' %}
{% load static %}



{% block main_content %}
<p class='err_msg'>{{err_msg}}</p>

<script type='text/javascript' src="{% static 'js/table.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<table id="id_summary_table"></table>
<script>
	{% autoescape off %}
	{% for k, v in data.items %}
		const {{k}} = {{v}};
	{% endfor %}
	{% endautoescape %}

	if (Object.entries(table_data).length !== 0) {
		let t = new Table(table_data, 50, 'id_summary_table');
		t.create_table();
	}
</script>


{% endblock %}
