.submit-button {
	background-color: rgba(0, 255, 0, 0.35);
	font-weight: 400;
	padding: 8px 12px;
}

.my-sidebar {
	width: 190px;
	background-color: #000;
	color: #eee;
}

#hamburger-icon-nb {
	display: none;
	cursor: pointer;
}

#hamburger-icon svg {
	stroke: #555;
	stroke-width:7;
}

#hamburger_line {
	border-radius: 50px;
}
